# codeowners - define code ownership for pull request reviews

# syntax: path/pattern @github-username @github-team

# root files

- @nokodo-dev

# backend

/backend/ @nokodo-dev
/backend/api/ @nokodo-dev
/backend/nokodo_ai/ @nokodo-dev

# frontend

/frontend/ @nokodo-dev

# infrastructure & devops

/.docker/ @nokodo-dev
/.github/ @nokodo-dev
/tools/ @nokodo-dev
